
/* TIPOGRAFÍAS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #36558F;
    font-size: 40px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #36558F;
    font-size: 27px;
    font-weight: 600; /* semibold */
}

h3 {
    font-family: 'Merriweather', sans-serif;
    color: #3B5560;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none; /* quita los puntos */
}

p {
    font-family: 'Lato', sans-serif;
    line-height: 23px; /* espaciado entre lineas */
    font-size: 17px;
}

label {
    font-family: 'Poppins', sans-serif;
    color: #3B5560;
    font-size: 12px;
}

.btn-principal {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 45px;

    font-family: 'Noto sans', sans-serif;
    background-color: #820052;
    color: #fff;
    /*font-weight: bold;*/
    padding: 20px;
    border: none;
    border-radius: 10px;
}

.btn {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 45px;

    font-family: 'Noto sans', sans-serif;
    border: 2px solid #820052;
    background-color: white;
    color: #820052;

    padding: 20px;
    border-radius: 10px;
}

#cabecera {
    width: 100%;
    background-color: #F4F4F4;
    display: flex;

    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    position: fixed;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);

    img {
        width: 100px;
        height: 50px;
       margin-left: 35px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;

        gap: 10px;
        padding: 20px;

        li {
            width: 160px;
            text-align: center;

            color: #A494BF;

            font-family: 'Noto sans', sans-serif;
            font-size: 14px;
        }
    }

}

#logo-DOA {
    width: 100px;
    height: 95px;
}


section {
    height: 100dvh;
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
}

/* -- SECCIÓN INICIO -- */
#sección-inicio {
    row-gap: 70px;

    h1 {
        width: 520px;
        text-align: center;
    }

    h3 {
        width: 565px;
        text-align: center;
    }
}
/* -- FIN SECCIÓN INICIO -- */


/* -- SECCIÓN PRODUCTOS -- */
#sección-productos{

    h1 {
        padding-bottom: 30px;
    }

    #contenedor-productos{
        display: flex;
        width: 1000px;
        height: 530px;
        align-items: center;
        justify-content: center;

        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
    }

    .contenedores_DOA {
        display: flex;
        width: 500px;
        height: 500px;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        #mockup-DOA {
            width: 430px;
            height: 320px;
            img {
                width: inherit;
                height: inherit;
            }
        }

        h2{
            padding: 50px 0;
        }

        p{
            width: 450px;
            padding-bottom: 50px;
            padding-top: 0;
            margin-bottom: 70px;
        }

        #contenedor-botones {
            display: flex;
            width: inherit;
            justify-content: center;
            flex-direction: row;
            gap: 15px;
            padding-top: 20px;
        }

        label {
            padding-top: 5px;
            width: 200px;
            margin-left: 235px;
        }
    }
}
/* -- FIN SECCIÓN PRODUCTOS -- */


/* -- SECCIÓN NOSOTROS -- */

#sección-nosotros {

    .contenedor_botones {

        .tab-btn.active {
            font-family: Lato, serif;
            font-size: 16px;
            font-weight: 600;

            width: 140px;
            height: 40px;

            border-radius: 50px;
            box-shadow: 0 4px 10px rgb(214, 136, 161);

            background-color: #CC2E7D;
            color: white;
        }

        .tab-btn {
            font-family: Lato, serif;
            font-size: 16px;
            font-weight: 600;

            width: 140px;
            height: 40px;

            border-radius: 50px;

            background-color: white;
            border: 2px solid #CC2E7D;
            color: #CC2E7D;

            transition: all 0.3s ease; /* Hace que los cambios de color sean suaves */
        }

        .tab-btn:hover {
            transform: scale(1.05);
        }
    }
}

/* -- FIN SECCIÓN NOSOTROS -- */


/* -- SECCIÓN CONTACTO -- */

/* -- FIN SECCIÓN CONTACTO -- */